.android/
.bash_histroy
.gitconfig
.gk/
.gradle/
lasshest
.node_repl_history
.vscode/
.yarnrc
        1NPDPRO5.DOC
        3D Objects/
        AppData/
        Contacts/
        Desktop/
        Documents/
        Downloads/
        Favorites/
        JS
        Links/
        NPProt.bkp
        NPProt.exe
        NTUSER.DAT
        NTUSER.DAT{42ac2e74-1c7e-11ee-a7d7-95c6d1eaa3d2}.TM.blf
        NTUSER.DAT{42ac2e74-1c7e-11ee-a7d7-95c6d1eaa3d2}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{42ac2e74-1c7e-11ee-a7d7-95c6d1eaa3d2}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
                Saved Games/
        Searches/
        WPS Cloud Files/
        class firstclass{
        firstclass.java
        helloworld.html
        node_modules/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.iniS